@charset "UTF-8";   

/* Links das fontes usadas */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Tipografia */
:root {
    --fonteProgr: "Chakra Petch", sans-serif;
    --fontForte: "Rowdies", sans-serif;
    --fonteRedonda: "Concert One", sans-serif;
    --fonteSuave:"Raleway", sans-serif;
}

/* Configuração geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

header {padding: 30px 30px 20px 30px;
    background-color: rgb(41, 40, 40);
    font-family: var(--fonteProgr);
    box-sizing: border-box;}

#sec1header {display: flex;
    justify-content: space-between;
    }

.pheader {display: flex;
    flex-direction: row;
    align-items: center;}

.button {margin-left: 10px;
    background-color: rgb(255, 100, 11);
    width: 100px;
    border: 1px solid rgb(255, 100, 11);;
    padding: 7px 0px 7px 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.151);
    cursor: pointer;
    }

.button:hover {box-shadow: 2px 2px 3px rgba(252, 252, 252, 0.11);}

#inome {border-radius: 5px;
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 0px 10px 5px;
    font-variant: small-caps;}

/* navegação */

#sec1header > nav {width: 200px;
    display: flex;
    align-items:center;
    justify-content: space-around;}

#sec1header > nav > hr {height: 35px;}



#sec1header > nav > section > img {width: 20px;
    margin-right: 4px;}

.sec1nav {display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    transform: translateY(0px);
    transition: transform 1s ease;}

.sec1nav:hover {transform: translateY(4px);
    transition: transform 1s ease;
    background-color: rgba(255, 68, 0, 0.336);
    padding: 12px 0px 2px 0px;
    transition: padding 0.1s ease;
    border-radius: 2px;
    }
    
.sec1nav > a {text-decoration: none;
    color: white;}

.sec2nav {display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    transform: translateY(0px);
    transition: transform 1s ease;}

.sec2nav:hover {transform: translateY(4px);
    transition: transform 0.8s ease;
    background-color: rgba(255, 68, 0, 0.336);
    padding: 12px 0px 2px 0px;
    transition: padding 0.1s ease;
    border-radius: 2px;}

.sec2nav > a {text-decoration: none;
    color: white;}

#erro {margin-top: 5px;
    box-sizing: border-box;
    margin-left:2px;
    color: white;
    font-size: 10px;}

/* menu principal */

main {font-family: var(--fonteProgr);}

#exib1 {margin-top: 15px;
    margin-bottom: -25px;
    font-family: var(--fonteSuave);
    color: white;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.274);
    width: 250px;
    border-radius: 0px 5px 5px 0px;}

#sec1main {display: flex;
    align-items: center;
    height: 350px;
    padding: 0px 10px 0px 10px;
}

.p1main {font-size: 20px;
    text-align: justify;}

.img1main {width: 400px;}

/* parte 2 menu principal */

#sec2main {display: flex;
    background-color:rgb(41, 40, 40);
    padding: 20px 10px 5px 0px;
    font-family: var(--fonteProgr);}

.sec3main {color: white;}


.sec3main > h2 {color: white;
    background-color:rgb(227, 76, 38);
    transition: background-color 0.2s ease;
    width: 200px;
    padding: 2px 0px 2px 1px;
    transform: translateX(0px);
    transition: transform 1s ease, background-color 0.8s ease;

    }

.sec3main > h2:hover {background-color: rgb(38, 77, 228);transform: translateX(10px);
    transition: background-color 0.8s ease, transform 1s ease;
    }

.sec3main > h3 {margin: 10px 0px 10px 0px;
    padding-left: 10px;
    background-color:rgb(38, 77, 228); ;}


.p1sec3, .p2sec3, .ulsec3 {background-color:rgba(20, 20, 20, 0.267);
    padding: 5px 20px 5px 10px;
    border-radius: 0px 5px 5px 0px;
    text-align: justify;
    width: 700px;
    margin-top: 10px;}

.ulsec3 > li {margin-bottom: 5px;}


.sec4main {display: flex;
    flex-direction: column;}

.sec4main > img {width: 200px;}